/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

.dark-reader-bg {
  /* background-color: rgb(28, 30, 31); */
  background-color: rgb(38, 41, 43);
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .table-list-group button h4, .h6 {
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

h1, h2, h3, h4, h5, h6{
  margin-top: 0;
}

h2, .h2 {
    font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

p {
  margin-bottom: 1rem;
  margin-top: 0;
}

body {
  color: rgb(240, 236, 229);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background-color: rgb(38, 41, 43);
}

a {
  color: #337ab7;
}