<!-- <div class="container">
    <div class="row pt-4">
        <div class="col-sm-6">
            <div class="card mb-3">
                <img [src]="event.flyer" class="card-img-top">
                <div class="card-body text-light bg-dark">
                    <h1 class="card-title">{{event.eventName}}</h1>
                    <h2 class="card-text">{{event.venue.venueName}}</h2>
                    <h5 class="card-text">{{event.eventDate}}</h5>
                </div>
            </div>

        </div>
    </div>
</div> -->
<div class="row spacer"> </div>
<div class="container content-bg pr-0 pl-0">
    <div class="row no-gutters">
        <div class="col-sm-8">

            <div class="img-div">
            </div>
        </div>
        <div class="col-sm-4">

            <div class="event-page-card">
                <div class="container pt-4">
                    <h3 class="card-title pl-2">{{event.eventName}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row mid-row no-gutters justify-content-between">

        <div class="col-4">
            <div class="container align">
                <a class="icon-social-circle mr-1">
                    <i class="far fa-heart"></i>
                </a>
                <a class="icon-social-circle">
                    <i class="far fa-share-square"></i>
                </a>
            </div>

        </div>
        <div class="col-4">
            <div class="container align">
                <button class="btn btn-primary" style="width: 100%;">Tickets</button>

            </div>
        </div>


    </div>
    <div class="row">

        <div class="col-sm-9">
            <div class="event-page-card">
                <div class="container pt-4">

                    <div class="detail-group row">
                        <div class="col-2 pl-4">
                            <i class="far fa-calendar-alt"></i>
                        </div>
                        <div class="col-10">
                            <h3 class="detail-font">Date and Time</h3>
                            <p class="">{{event.eventDate}} <small class="dim-text">{{event.eventTime}}</small></p>
                        </div>
                    </div>

                    <div class="detail-group row">
                        <div class="col-2 pl-4">
                            <i class="fas fa-search-location"></i>
                        </div>
                        <div class="col-10">
                            <h3 class="detail-font">Location</h3>
                            <p class="">{{event.venue.venueName}}
                                <small class="dim-text">{{event.venue.location}}</small>
                            </p>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>