<div class="dash-img" style="background-image: url(/assets/atl-cover.jpg);">
    <div class="title-content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <header>
                        <div class="content">
                            <h1 class="text-light ">{{venue.venueName}}</h1>

                        </div>

                    </header>
                </div>
            </div>
        </div>
    </div>
    <div class="format"></div>
</div>

<div class="container-md">

    <div class="row my-3">
        <div class="col-12"></div>
    </div>

    <div class="row mb-5 text-light">
        <div id="events" class="col-lg-8 d-lg-block">
            <h2>Upcoming events at {{venue.venueName}}</h2>
            <div id="list">

            </div>
        </div>
    </div>

</div>