.splash-lg {
    background: url("../../../assets/splash-proto5.jpg") no-repeat scroll center top transparent;
    /* background-position: fixed; */
    background-size: 100% 100%;
}

.splash {
    background: url("../../../assets/splash-proto5.jpg") no-repeat scroll center top transparent;
    background-position: fixed;
    background-size: auto 100%;
}

.splash-title {
    padding-top: 1.5em;
}

.splash-title-lg {
    font-size: 3rem;
    padding-top: 1.5em;
}
.splash-container {
    position: relative;
    text-align: center;
    color: white;
}