<div class="d-lg-none">
    <div class="jumbotron splash">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-12">
                    <div class="d-none d-md-block">
                        <h1 class="text-light splash-title">Your #1 Stop for Humboldt Nightlife</h1>
                    </div>
                    <div class="d-md-none">
                        <h2 class="text-light splash-title">Your #1 Stop for Humboldt Nightlife</h2>
                    </div>
                    <p class="text-light" style="font-size: 1rem;">Events and Tickets all in one place.</p>
                </div>

            </div>
            <div class="container">

            </div>

        </div>
    </div>
</div>
<div class="d-none d-lg-block">
    <div class="jumbotron splash-lg">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-12">
                    <!-- <div class="d-none d-sm-block mb-5"></div> -->
                    <h1 class="text-light splash-title-lg">Your #1 Stop for Humboldt Nightlife</h1>
                    <p class="text-light" style="font-size: 1.5rem;">Events and Tickets all in one place.</p>
                </div>

            </div>
            <div class="container">

            </div>

        </div>
    </div>

</div>