.splash {
    width: 100%;
    z-index: 0;
    filter: brightness(45%);
}

.splash-title {
    position: absolute;
    color: ivory;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.splash-container {
    position: relative;
    text-align: center;
    color: white;
}