<div class="top-bg">

    <div class="container">
        <div class="row pt-2">
            <div class="col-4">

                <div class="form-group">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-primary" (click)="eventsNav()">Event</button>
                        <button type="button" class="btn btn-success active">Venue</button>
                    </div>
                </div>

            </div>

            <div class="col-8 pl-4">
                <div class="form-group">
                    <select class="form-control bg-dark text-light" (change)="navigateTo($event.target.value)">
                            <option [value]="venues/currentCity">{{currentCity}}</option>
                            <option *ngFor="let place of citiesDropdown" 
                                [value]="place">{{place}}</option>
                    </select>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="row pt-4">
        <ng-container *ngFor="let venue of venues">
            <div class="col-sm-6 col-md-4 pb-4">
                <app-venue-item [venue]="venue"></app-venue-item>
            </div>
        </ng-container>
    </div>

</div>